<hr class="my-4">
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sunt nam est nesciunt deserunt! Atque beatae eveniet labore eos consequatur laboriosam reiciendis, soluta enim quidem pariatur tenetur perspiciatis! Aut, cupiditate. </p>
            </div>
            <div class="col text-center">
                    <p>Contact: <a href="mailto: azh@utk.edu">azh@utk.edu</a> </p>
                    <a class="btn btn-info" role="button" href="#">CodeRibbon Repo</a>
            </div>
        </div>
    </div>
    <p class="text-center my-2">&copy; 2019 <a href="https://github.com/utk-se">utk-se</a></p>
</footer>