<hr class="my-4">
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                    <p>This is a research project at the University of Tennessee by Dr. Austin Henley's software engineering research group.</p>
                    <p>The <a href="https://atom.io/packages/code-ribbon">Plugin</a> and <a href="https://github.com/utk-se/CodeRibbon">Source Code</a> are both available.</p>            
                </div>
            <div class="col text-center">
                    <p>Contact: <a href="mailto: azh@utk.edu">azh@utk.edu</a> </p>
                    <a class="btn btn-outline-success" role="button" href="atom://settings-view/show-package?package=code-ribbon">Download Now</a>
            </div>
        </div>
    </div>
    <p class="text-center my-2">&copy; 2019 <a href="https://atom.io/packages/code-ribbon">CodeRibbon</a></p>
</footer>