
# fuzzy finder select list conflicts
'.cr-overview-active .select-list atom-text-editor.mini':
  'enter': 'unset!'
  'return': 'unset!'

# vim mode conflicts
'.cr-overview-active atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'left': 'unset!'
  'h': 'unset!'
  'down': 'unset!'
  'j': 'unset!'
  'up': 'unset!'
  'k': 'unset!'
  'right': 'unset!'
  'l': 'unset!'
  'enter': 'unset!'

'.cr-overview-active atom-text-editor:not([mini])':
  'enter': 'unset!'

'.cr-overview-active,.cr-overview-active .cr-patch':
  'escape': "code-ribbon:toggle-overview"
  'enter':  "code-ribbon:toggle-overview"
  'return': "code-ribbon:toggle-overview"
  'left':   'window:focus-pane-on-left'
  'h':      'window:focus-pane-on-left'
  'down':   'window:focus-pane-below'
  'j':      'window:focus-pane-below'
  'up':     'window:focus-pane-above'
  'k':      'window:focus-pane-above'
  'right':  'window:focus-pane-on-right'
  'l':      'window:focus-pane-on-right'

'.platform-win32,.platform-linux,.platform-darwin':
  "ctrl-alt-o": "code-ribbon:toggle-overview"
  # focus pane
  'ctrl-k left':        'window:focus-pane-on-left'
  'ctrl-k h':           'window:focus-pane-on-left'
  'ctrl-k down':        'window:focus-pane-below'
  'ctrl-k j':           'window:focus-pane-below'
  'ctrl-k up':          'window:focus-pane-above'
  'ctrl-k k':           'window:focus-pane-above'
  'ctrl-k right':       'window:focus-pane-on-right'
  'ctrl-k l':           'window:focus-pane-on-right'
  # scroll ribbon
  'ctrl-j left':        'code-ribbon:scroll-ribbon-left'
  'ctrl-j h':           'code-ribbon:scroll-ribbon-left'
  'ctrl-j ctrl-h':      'code-ribbon:scroll-ribbon-left'
  'ctrl-j right':       'code-ribbon:scroll-ribbon-right'
  'ctrl-j l':           'code-ribbon:scroll-ribbon-right'
  'ctrl-j ctrl-l':      'code-ribbon:scroll-ribbon-right'
  # move pane item
  'ctrl-k shift-left':  'window:move-active-item-to-pane-on-left'
  'ctrl-k shift-h':  'window:move-active-item-to-pane-on-left'
  'ctrl-k shift-right': 'window:move-active-item-to-pane-on-right'
  'ctrl-k shift-l': 'window:move-active-item-to-pane-on-right'
  'ctrl-k shift-up':    'window:move-active-item-to-pane-above'
  'ctrl-k shift-k':    'window:move-active-item-to-pane-above'
  'ctrl-k shift-down':  'window:move-active-item-to-pane-below'
  'ctrl-k shift-j':  'window:move-active-item-to-pane-below'


# '.platform-darwin':
#   "cmd-alt-o": "code-ribbon:toggle-overview"
#   # focus pane
#   'cmd-k left':        'window:focus-pane-on-left'
#   'cmd-k right':       'window:focus-pane-on-right'
#   'cmd-k up':          'window:focus-pane-above'
#   'cmd-k down':        'window:focus-pane-below'
#   # move pane item
#   'cmd-k shift-left':  'window:move-active-item-to-pane-on-left'
#   'cmd-k shift-right': 'window:move-active-item-to-pane-on-right'
#   'cmd-k shift-up':    'window:move-active-item-to-pane-above'
#   'cmd-k shift-down':  'window:move-active-item-to-pane-below'
