@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Index styling */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, ul, li, a {
  font-family: 'Lora', serif;
}

#gif {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: block;
  max-width: 80%;
}

/* Acknowledgements */

/* Tutorial */

/* Publications */