// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-pane-container.cr-primary-container {
  flex-direction: column;
  overflow-x: scroll;
  scroll-behavior: smooth;

  atom-pane.pane ul.tab-bar li.tab {
    width: 100%;
    max-width: none;
  }

  .cr-patch::before {
    content: "I am a CodeRibbon Patch!";
    position: absolute;
    right: 2em;
    top: 5em;
  }
  .cr-patch {
    border: 2px solid rebeccapurple;
  }
  .cr-patch.active {
    border: 2px solid blue;
  }

  atom-pane-axis.cr-ribbon-container {
    overflow-x: visible;
    margin: 0px;
    transition: ease 0.5s;
  }
  atom-pane-axis.cr-ribbon-container.cr-overview-active {
    transform: scale(0.5);

    atom-pane.pane {
      div {
        pointer-events: none;
      }
    }
  }
}
