// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-pane-container.cr-primary-container {
  flex-direction: column;
  overflow-x: scroll;

  atom-pane.pane ul.tab-bar li.tab {
    width: 100%;
    max-width: none;
  }

  .cr-patch::before {
    content: "EMPTY PATCH";
    position: absolute;
    right: 45%;
    top: 50%;
  }
  .cr-patch:hover {
    opacity: .5;
    cursor: pointer;
  }
  .cr-patch.active {
    border: 2px solid blue;
    opacity: 1;
  }

  atom-pane-axis.cr-ribbon-container {
    overflow-x: visible;
    margin: 0px;
    transition: transform ease 0.5s, transform-origin ease 0.5s;
    transform-origin: center;
  }

  atom-pane-axis.cr-ribbon-container.cr-overview-active {
    // everything in here is only applied while in the OVERVIEW!
    transform: scale(0.5);

    atom-pane.pane {
      ul.tab-bar {
        pointer-events: none;
      }
      div {
        pointer-events: none;
      }
    }
  }
}
